@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
:root{
    font-family: 'Orelega One', cursive;
}
body{
    background-color: #004a6f;
    text-align: center;
}
.jeu{
    margin: auto;
    margin-top: 20vh;
    width: 30vw;
    background-color: #2b9f88;
    border: #004a6f dashed;
    box-shadow: 5px 5px 5px black;
}
button{
    background-color: #004a6f;
    border: none;
    color: #2b9f88;
    width: 150px;
    height: 40px;
    font-family:'Orelega One', cursive;
    box-shadow: 5px 5px 5px black;
}
input{
    border: none;
    background-color: #004a6f;
    height: 20px;
}
#barreDeVie{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.vie{
    height: 20px;
    width: 20px;
    background-color: red;
    margin: 2px;
    border-radius: 75%;
    border: solid 2px red;
}
#nombreVie{
    margin-right: 10px;
}